body {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/bg1.jpeg");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/bg1.jpeg");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/bg1.jpeg");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/bg1.jpeg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	color:white;
}
html, body, .container-fluid, .container-table {
    height: 100%;
}
.container-table {
    display: table;
    position:relative;
}
.loading {
    color: white;
}
a, a:visited, a:link {
    text-decoration: none;
    color: white;
	opacity:1;
}
a.skip-link {
    text-decoration:underline;
    cursor:pointer;
}
ul {
	margin-top:10px;
	text-align: center;
    list-style-type: none;
	padding-left:0px;
}
ul li {
    display: inline;
    padding: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #343861;
	opacity:0.3;
}
.btn-xl
{
  background: rgba(0,0,0,.5);
  padding: 18px 28px;
  font-size: 22px;
  float:left;
  margin:20px;
  border: 1px solid rgba(70, 214, 218, .3);
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.btn-xl:hover
{
    background-color:rgba(91,192,222, 0.5);
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
.icon-container
{
  width:50px;
  height:50px;
  display:table-cell;
  vertical-align:middle;
}
.clear
{
  clear:both;
}
.button-container
{
    display: inline-block;
}
.row
{
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}
.pic-container
{
    width: 300px;
	height: 300px;
    display:none;
    margin: 0 auto;
}
.prof-pic
{
    max-width:100%;
    height:100%;
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url('../../images/Joe2.jpg') no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.info-content
{
    position:absolute;
    display:block;
    height: 0px;
    max-height:600px;
    width: 480px;
    background-color: rgba(33,44,68, 0.9);
    border-radius: 150px;
    margin-top: -300px;
    margin-left: -240px;
    top:50%;
    left:50%;
    z-index:10;
    -webkit-transition: height 2s ease;
	-moz-transition: height 2s ease;
	-o-transition: height 2s ease;
	transition: height 2s ease;
}

.animate-in
{
    height:600px;
}

@media (max-width:400px)
{
    .btn-xl
    {
        padding:10px 10px;
    }
}
