@font-face
{
    font-family: body;
    src:url(../fonts/RockSalt.ttf);
}

@font-face
{
    font-family: headers;
    src:url(../fonts/AgentOrange.ttf);
}

h1
{
    font-size:3em;
    color:black;
    font-family:headers;
    font-weight: bold;
}

a
{
    color:black;
    text-decoration:none;
    padding:10px;
}

.ig-link, .li-link, .fb-link, .sc-link
{
    transition: all 0.5s ease;
}

.ig-link:hover
{
    color:brown;
}

.li-link:hover
{
    color:#0099CC;
}

.fb-link:hover
{
    color:darkblue;
}

.sc-link:hover
{
    color:orange;
}

img
{
    max-width:100%;
    max-height:100%;
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

section.top
{
    padding-top:10%;
    width:100%;
}

section.photo
{
    padding-top:10%;
}

section.list
{
    font-family:body;
    margin-left:20%;
}

section.list ul
{
    max-width:75%;
}

section.social
{
    font-size:4em;
    margin-left:22%;
    padding-top:20px;
    padding-bottom:20px;
}

.align-centre
{
    text-align:center;
}

@media (max-width: 480px)
{
    section.social
    {
        margin-top:20px;
        font-size:2em;
    }

    section.list
    {
        margin-left:0%;
    }
}
